body {
    background:#1E1E1E;
}
.mainContainer{
    padding:30px;
    width:500px;
    height:500px;
    vertical-align:central;
    margin:0 auto;
}
#TextBox1{
    height:200px;
    width:100%;
    border:3px solid #9CBFED; 
}
.displayContainer li{
    list-style:none;
    display:none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:larger;
    color:powderblue;
}

#timestamp{
    font-size:small;
    color:darkgrey;
}
.displayContainer{
    width:95%;
    height:auto;
    min-height:50px;
    display:none;
    text-align:center;
    border:1px solid white;
    border-radius:10px;
}
#Button1{
    margin:10px auto;
    display:flex;
    border: 1px solid #808080;
    border-radius: 0.5em;
    width: auto;
    height: auto;
    color: #000;
    font-size: 1.0em;
}
#Button1:hover{
    color: #fff;
    background-color: #000;
    border: 1px solid #000; 
}
